.play {
    background-image: url(/images/home-background.jpeg);
    background-size: cover;
    width: calc(100vw - 20px);
    height: calc(100vh - 20px);
    padding: 10px;
}
.ticket {
    display: grid;
    grid-template-columns: repeat(9, 25px);
    grid-template-rows: repeat(3, 25px);
    margin: 10px;
    overflow: hidden;
    width: max-content;
    box-shadow: 0px 2px 2px grey;
    gap: 2px;
}

.square {
    border: 1px solid grey;
    border-radius: 5px;
    text-align: center;
}

.covered {
    opacity: 0.6;
    text-decoration: line-through;
    background-color: lightgray;
}